#!/usr/bin/env python3

PACKAGE = "autolabor_fod_control"

from dynamic_reconfigure.parameter_generator_catkin import *


generator = ParameterGenerator()
generator.add(
    "min_confidence",
    double_t,
    0,
    "Minimum detector confidence accepted for a new visual-servo target lock",
    0.30,
    0.25,
    0.95,
)

exit(generator.generate(PACKAGE, "autolabor_fod_control", "VisualServo"))
