<launch>

    <node name="canbus_driver" pkg="autolabor_canbus_driver" type="canbus_driver" output="screen">
        <param name="port_name" value="/dev/ttyUSB0" />
    </node>

    <node name="pm1_driver" pkg="autolabor_canbus_driver" type="pm1_driver" output="screen" >
         <param name="smooth_coefficient" value="1.0" />
    </node>

     <node name="keyboard_control" pkg="autolabor_keyboard_control" type="keyboard_control_node" output="screen">
            <param name="linear_min" value="0.4" />
            <param name="linear_max" value="1.0" />
            <param name="linear_step" value="0.2" />
            <param name="angular_min" value="0.5" />                   <!-- 机器人前轮转角 -->
            <param name="angular_max" value="1.0" />
            <param name="angular_step" value="0.1" />
    </node>
</launch>
